=begin
#Public Api v3

#Build the best experience of digital signature through your own platform. Increase your conversion rates, leverage your data and reduce your costs with Yousign API.

OpenAPI spec version: 3.0
Contact: contact@yousign.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.66
=end

module YousignClientV3
  class BankAccountVerificationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve a bank account verification
    # Get the detailed results of a bank account verification.
    # @param bank_account_verification_id The bank account verification ID
    # @param [Hash] opts the optional parameters
    # @return [BankAccountVerification]
    def get_bank_account_verifications_bank_account_verification_id(bank_account_verification_id, opts = {})
      data, _status_code, _headers = get_bank_account_verifications_bank_account_verification_id_with_http_info(bank_account_verification_id, opts)
      data
    end

    # Retrieve a bank account verification
    # Get the detailed results of a bank account verification.
    # @param bank_account_verification_id The bank account verification ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankAccountVerification, Integer, Hash)>] BankAccountVerification data, response status code and response headers
    def get_bank_account_verifications_bank_account_verification_id_with_http_info(bank_account_verification_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankAccountVerificationApi.get_bank_account_verifications_bank_account_verification_id ...'
      end
      # verify the required parameter 'bank_account_verification_id' is set
      if @api_client.config.client_side_validation && bank_account_verification_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_account_verification_id' when calling BankAccountVerificationApi.get_bank_account_verifications_bank_account_verification_id"
      end
      # resource path
      local_var_path = '/bank_account_verifications/{bankAccountVerificationId}'.sub('{' + 'bankAccountVerificationId' + '}', bank_account_verification_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BankAccountVerification' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankAccountVerificationApi#get_bank_account_verifications_bank_account_verification_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Initiate a new Bank Account Verification
    # Creates a new Bank Account Verification resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name 
    # @option opts [String] :last_name 
    # @option opts [String] :file 
    # @option opts [IBAN] :iban 
    # @option opts [BIC] :bic 
    # @option opts [String] :legal_entity_name 
    # @return [BankAccountVerificationCreated]
    def post_bank_account_verifications(opts = {})
      data, _status_code, _headers = post_bank_account_verifications_with_http_info(opts)
      data
    end

    # Initiate a new Bank Account Verification
    # Creates a new Bank Account Verification resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name 
    # @option opts [String] :last_name 
    # @option opts [String] :file 
    # @option opts [IBAN] :iban 
    # @option opts [BIC] :bic 
    # @option opts [String] :legal_entity_name 
    # @return [Array<(BankAccountVerificationCreated, Integer, Hash)>] BankAccountVerificationCreated data, response status code and response headers
    def post_bank_account_verifications_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankAccountVerificationApi.post_bank_account_verifications ...'
      end
      # resource path
      local_var_path = '/bank_account_verifications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['first_name'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      form_params['last_name'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?
      form_params['iban'] = opts[:'iban'] if !opts[:'iban'].nil?
      form_params['bic'] = opts[:'bic'] if !opts[:'bic'].nil?
      form_params['legal_entity_name'] = opts[:'legal_entity_name'] if !opts[:'legal_entity_name'].nil?

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BankAccountVerificationCreated' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankAccountVerificationApi#post_bank_account_verifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
