=begin
#Public Api v3

#Build the best experience of digital signature through your own platform. Increase your conversion rates, leverage your data and reduce your costs with Yousign API.

OpenAPI spec version: 3.0
Contact: contact@yousign.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.66
=end

module YousignClientV3
  class IDDocumentVerificationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Initiate a new ID document verification
    # Verify a person’s identity by sending the file containing their ID document (ID card, passport, residence permit or driving license).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name 
    # @option opts [String] :last_name 
    # @option opts [String] :document_type 
    # @option opts [String] :file 
    # @option opts [String] :additional_file 
    # @return [IdDocumentVerificationCreated]
    def create_id_document_verification(opts = {})
      data, _status_code, _headers = create_id_document_verification_with_http_info(opts)
      data
    end

    # Initiate a new ID document verification
    # Verify a person’s identity by sending the file containing their ID document (ID card, passport, residence permit or driving license).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name 
    # @option opts [String] :last_name 
    # @option opts [String] :document_type 
    # @option opts [String] :file 
    # @option opts [String] :additional_file 
    # @return [Array<(IdDocumentVerificationCreated, Integer, Hash)>] IdDocumentVerificationCreated data, response status code and response headers
    def create_id_document_verification_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IDDocumentVerificationApi.create_id_document_verification ...'
      end
      if @api_client.config.client_side_validation && opts[:'document_type'] && !['id_card', 'passport', 'residence_permit', 'driver_license', 'ita_ts_cns'].include?(opts[:'document_type'])
        fail ArgumentError, 'invalid value for "document_type", must be one of id_card, passport, residence_permit, driver_license, ita_ts_cns'
      end
      # resource path
      local_var_path = '/id_document_verifications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['first_name'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      form_params['last_name'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      form_params['document_type'] = opts[:'document_type'] if !opts[:'document_type'].nil?
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?
      form_params['additional_file'] = opts[:'additional_file'] if !opts[:'additional_file'].nil?

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'IdDocumentVerificationCreated' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IDDocumentVerificationApi#create_id_document_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve an ID document verification
    # Get the detailed results of an ID document verification, including the status of the verification, the reasons in case of rejection and the data extracted from the ID document.
    # @param id_document_verification_id The ID document verification ID
    # @param [Hash] opts the optional parameters
    # @return [IdDocumentVerification]
    def get_id_document_verification(id_document_verification_id, opts = {})
      data, _status_code, _headers = get_id_document_verification_with_http_info(id_document_verification_id, opts)
      data
    end

    # Retrieve an ID document verification
    # Get the detailed results of an ID document verification, including the status of the verification, the reasons in case of rejection and the data extracted from the ID document.
    # @param id_document_verification_id The ID document verification ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdDocumentVerification, Integer, Hash)>] IdDocumentVerification data, response status code and response headers
    def get_id_document_verification_with_http_info(id_document_verification_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IDDocumentVerificationApi.get_id_document_verification ...'
      end
      # verify the required parameter 'id_document_verification_id' is set
      if @api_client.config.client_side_validation && id_document_verification_id.nil?
        fail ArgumentError, "Missing the required parameter 'id_document_verification_id' when calling IDDocumentVerificationApi.get_id_document_verification"
      end
      # resource path
      local_var_path = '/id_document_verifications/{idDocumentVerificationId}'.sub('{' + 'idDocumentVerificationId' + '}', id_document_verification_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'IdDocumentVerification' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IDDocumentVerificationApi#get_id_document_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
